div.root{
    max-width: 100vw;
    margin-left: 30px;
    min-height: 100vh;
    flex-grow: 1; 
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
} 

/* .insideBody{
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    flex-shrink: 0;
    flex-basis: auto;
} */

header{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    background-color: #ffffff;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #606B9B;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

footer > span{
    color: #eeeeee;
    font-size: 1.7em;
    font-family: 'Helvetica', sans-serif;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.LangoTitle{
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    color: #606B9B;
    justify-content: center;
}

.cardButton{
    
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    position: absolute;
    left: 3vw;
    top: 4.3vh;
    background-color: #606B9B;
    color: #eeeeee;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.textCard {
    background-color: #ffffff;
    border-style: solid;
    border-width: 4px;

    width: 450px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vw;

    font-size: 25px;
}

/* don't get weird blue border when I type */
textarea:focus {
    outline: none;
}

textarea {
    border: none;
    font-size: 25px;
    font-family: 'Helvetica', sans-serif;
}